<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- CEO 검색 최적화 공부할 때 참고할 수 있는 웹 페이지 정보 -->
    <meta name="description" content="">
    <meta name="author" content="Dongmin Kim">
    <title>게시판 상세 페이지</title>

    <script defer th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/search-bar.css}">
</head>
<body class="d-flex flex-column min-vh-100">
    <header th:replace="layouts/header :: header"></header>

    <main class="container flex-grow-1">
        <header class="py-5 text-center">
            <h1>딮기 디코) 데프트 인사</h1>
        </header>

        <div class="row g-5">
            <section class="col-md-5 col-lg-4 order-md-last">
                <aside>
                    <p><span class="nickname badge bg-primary">동민</span></p>
                    <p><a class="u-url" rel="me" href="mailto:deft@gmail.com">deft@mail.com</a></p>
                    <p><time datetime="2022-01-01T00:00:00">2023-11-22</time></p>
                    <p class="badge bg-success">#dk</p>
                </aside>
            </section>

            <article class="col-md-7 col-lg-8">
                <p>본문<br><br></p>
            </article>
        </div>

        <div class="row g-5">
            <section>
                <form class="row g-3 mb-3">
                    <div class="col-8">
                        <label for="comment" hidden>댓글</label>
                        <textarea class="form-control" id="comment" placeholder="댓글 쓰기.." rows="3"></textarea>
                    </div>
                    <div class="col-auto">
                        <label for="comment-btn" hidden>댓글 쓰기</label>
                        <button class="btn btn-primary" id="comment-btn" type="submit">등록</button>
                    </div>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2023-07-15</small></time>
                            <strong>혜정</strong>
                            <p>
                                화면 잘 만들었다 ㅎㅎ~
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2023-07-17</small></time>
                            <strong>은빈</strong>
                            <p>
                                첫 번째 글을 축하합니다~
                            </p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>

        <div class="row g-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">이전글</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">다음글</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>

    <footer th:replace="layouts/footer :: footer"></footer>
</body>
</html>