<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- CEO 검색 최적화 공부할 때 참고할 수 있는 웹 페이지 정보 -->
    <meta name="description" content="">
    <meta name="author" content="Dongmin Kim">
    <title>게시판 상세 페이지</title>

    <script defer th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/search-bar.css}">
</head>
<body class="d-flex flex-column min-vh-100">
    <header th:replace="layouts/header :: header"></header>

    <main class="container flex-grow-1" th:object="${article}">
        <header class="py-5 text-center">
            <h1 th:text="*{title}"></h1>
        </header>

        <div class="row g-5">
            <section class="col-md-3 col-lg-4 order-md-last">
                <aside>
                    <p><span class="nickname badge bg-primary" th:text="*{nickname}"></span></p>
                    <p><a class="u-url" rel="me" th:href="@{|mailto:*{email}|}"></a></p>
                    <p><time datetime="2022-01-01T00:00:00" th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd HH:mm:ss')}"></time></p>
                    <p class="badge bg-success" th:text="*{hashtag}"></p>
                </aside>
            </section>

            <article class="col-md-9 col-lg-8">
                <p th:text="*{content}"></p>
            </article>
        </div>

        <div class="row g-5" id="article-buttons">
            <form id="delete-article-form" th:action="@{|/articles/${article.id}/delete|}" method="post">
                <div class="pb-5 d-grid gap-2 d-md-block">
                    <a class="btn btn-success me-md-2" role="button" th:href="@{|/articles/${article.id}/form|}">수정</a>
                    <button class="btn btn-danger me-md-2" type="submit">삭제</button>
                </div>
            </form>
        </div>

        <div class="row g-5">
            <section>
                <form class="row g-3 mb-3" th:action="@{/comments/new}" method="post">
                    <input type="hidden" name="articleId" th:value="${article.id}">
                    <div class="col-md-9 col-lg-8">
                        <label for="comment" hidden>댓글</label>
                        <textarea class="form-control" id="comment" name="content" rows="3"></textarea>
                    </div>
                    <div class="col-md-3 col-lg-4">
                        <label for="comment-btn" hidden>댓글 쓰기</label>
                        <button class="btn btn-primary" id="comment-btn" type="submit">등록</button>
                    </div>
                </form>

                <ul class="row col-md-10 col-lg-8 pt-3">
                    <li th:each="comment : ${articleComments}">
                        <form th:action="@{|/comments/${comment.id}/delete|}" method="post">
                            <input type="hidden" name="articleId" th:value="${article.id}">
                            <div class="row">
                                <time><small th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></small></time>
                                <strong th:text="${comment.nickname}"></strong>
                                <p th:text="${comment.content}"></p>
                            </div>
                            <div class="col-2 mb-3">
                                <button type="submit" class="btn btn-outline-danger">삭제</button>
                            </div>
                        </form>
                    </li>
                </ul>
            </section>
        </div>

        <div class="row g-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">이전글</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">다음글</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>

    <footer th:replace="layouts/footer :: footer"></footer>
</body>
</html>